{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/mediumish.css' %}" rel="stylesheet">
 
<!-- Begin Author Posts
================================================== -->
<div class="graybg authorpage">
	<div class="container">
		<div class="listrecent listrelated">

				<!-- begin post -->
				{% for p in posts %}
				<div class="authorpostbox">
					<div class="card">
						<a href="{{p.get_absolute_url}}">
						<img class="img-fluid img-thumb" src="{{p.img.url}}" alt="">
						</a>
						<div class="card-block">
							<h2 class="card-title"><a href="{{p.get_absolute_url}}">{{p.title|title}}</a></h2>
              		<h4 class="card-text">{{p.content|truncatewords:18}}</h4>
            		<div class="metafooter">
								<div class="wrapfooter">
									<span class="meta-footer-thumb">
									<a href="{{p.get_absolute_url}}"><img class="author-thumb" src="{% static 'img/profile.jpg' %}" alt="{{p.author|title}}"></a>
									</span>
									<span class="author-meta">
									<span class="post-name"><h5>{{p.author|title}}</h5></span><br/>
									<!-- <span class="post-date">22 July 2017</span> -->
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
		</div>
	</div>
</div>
<script>
	$(window).ready(()=>{
    $('nav').toggleClass('scrolled');
	});
</script>
<script src="{% static 'js/tether.min.js' %}"></script>
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

{% endblock %}