{% extends 'base.html' %}
{% load static %}
{% block content %}
  <style>
  .font1 {
  	font-family: Consolas,monaco,monospace;
  }
  .style-two {
    border-top: 1px solid black;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  }
  </style>

<body style="background-color:rgb(241, 239, 239)">

<div class="jumbotron text-center" style="background-color:rgb(241, 239, 239);padding-top: 6em;padding-bottom: 2em;">
  <h1>Meet the Team</h1>
</div>

<div class="container" style="padding-bottom: 3em">
  <div class="row">
    <div class="card col-md-6" style="background-color:rgb(241, 239, 239);border: 0;">
        <div class="row no-gutters" style="border-right: 1px solid rgb(219, 219, 219);border-bottom: 1px solid rgb(219, 219, 219);">
          <div class="col-md-4">
            <img src="{% static 'IEEE.jpg' %}" class="card-img" alt="..." style="margin: 0.5em;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Shreyas Ravichandran</h5>
              <p class="card-text">Developer</p>
              <small><a href="" style="color: gray;">LinkedIn</a></small>
              <small><a href="" style="color: gray;">Github</a></small>
            </div>
          </div>
        </div>
      </div>
      <div class="card col-md-6" style="background-color:rgb(241, 239, 239); border:0;">
        <div class="row no-gutters" style="border-bottom: 1px solid rgb(219, 219, 219);border-left: 1px solid rgb(219, 219, 219);">
          <div class="col-md-4">
            <img src="{% static 'IEEE.jpg' %}" class="card-img" style="margin:0.5em">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Akshay Mittal</h5>
              <p class="card-text">Full Stack Developer</p>
              <small><a href="" style="color: gray;">LinkedIn</a></small>
              <small><a href="" style="color: gray;">Github</a></small>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="row" style="margin-top: 2em;">
    <div class="card col-md-6" style="background-color:rgb(241, 239, 239);border:0;">
        <div class="row no-gutters" style="border-top: 1px solid rgb(219, 219, 219);border-right: 1px solid rgb(219, 219, 219);">
          <div class="col-md-4">
            <img src="{% static 'img/akash.jpg' %}" class="card-img" style="margin: 0.5em";>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Akash Pratap Singh</h5>
              <p class="card-text">Frontend Developer</p>
              <small><a href="" style="color: gray;">LinkedIn</a></small>
              <small><a href="" style="color: gray;">Github</a></small>
            </div>
          </div>
        </div>
      </div>
      <div class="card col-md-6" style="background-color:rgb(241, 239, 239);border:0;">
        <div class="row no-gutters" style="border-top: 1px solid rgb(219, 219, 219);border-left: 1px solid rgb(219, 219, 219);">
          <div class="col-md-4">
            <img src="{% static 'img/mayank.jpg' %}" class="card-img" style="margin:0.5em;" >
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Mayank jain</h5>
              <p class="card-text">Frontend Developer</p>
              <small><a href="" style="color: gray;">LinkedIn</a></small>
              <small><a href="" style="color: gray;">Github</a></small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card col-md-6" style="background-color:rgb(241, 239, 239);border: 0;">
        <div class="row no-gutters" style="border-right: 1px solid rgb(219, 219, 219);border-bottom: 1px solid rgb(219, 219, 219);">
          <div class="col-md-4">
            <img src="{% static 'img/harshit.jpg' %}" class="card-img" alt="..." style="margin: 0.5em;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Harshit Lohani</h5>
              <p class="card-text">UI/UX</p>
              <small><a href="" style="color: gray;">LinkedIn</a></small>
              <small><a href="" style="color: gray;">Github</a></small>
            </div>
          </div>
        </div>
      </div>
      <div class="card col-md-6" style="background-color:rgb(241, 239, 239); border:0;">
        <div class="row no-gutters" style="border-bottom: 1px solid rgb(219, 219, 219);border-left: 1px solid rgb(219, 219, 219);">
          <div class="col-md-4">
            <img src="{% static 'img/sid.jpg' %}" class="card-img" style="margin:0.5em">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Siddharth Upadhyay</h5>
              <p class="card-text">Backend Developer</p>
              <small><a href="" style="color: gray;">LinkedIn</a></small>
              <small><a href="" style="color: gray;">Github</a></small>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="card col-md-6" style="background-color:rgb(241, 239, 239);border: 0;">
        <div class="row no-gutters" style="border-right: 1px solid rgb(219, 219, 219);border-bottom: 1px solid rgb(219, 219, 219);">
          <div class="col-md-4">
            <img src="{% static 'img/ishaan.jpeg' %}" class="card-img"  style="margin: 0.5em;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Ishaan Sarna</h5>
              <p class="card-text">Backend Developer</p>
              <small><a href="" style="color: gray;">LinkedIn</a></small>
              <small><a href="" style="color: gray;">Github</a></small>
            </div>
          </div>
        </div>
      </div>
      <div class="card col-md-6" style="background-color:rgb(241, 239, 239); border:0;">
        <div class="row no-gutters" style="border-bottom: 1px solid rgb(219, 219, 219);border-left: 1px solid rgb(219, 219, 219);">
          <div class="col-md-4">
            <img src="{% static 'img/ayushi.jpg' %}" class="card-img" style="margin:0.5em">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Ayushi Agrawal</h5>
              <p class="card-text">Content Writer</p>
              <small><a href="" style="color: gray;">LinkedIn</a></small>
              <small><a href="" style="color: gray;">Github</a></small>
            </div>
          </div>
        </div>
      </div>      
  </div>
</div>
<script>
	$(window).ready(()=>{
    $('nav').toggleClass('scrolled');
	});
</script>
{% endblock %}