{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row" style="background-color: #eeede9;">
<div class="col-6">
    <h1>hey</h1>
</div>
<div class="col-6">
    <h1>hey</h1>
</div>
</div>
<div class="row" style="background-color: #eeede9;">
    <div class="col-6">
        <h1>hey</h1>
    </div>
    <div class="col-6">
        <h1>hey</h1>
    </div>
    </div>
    <div class="row" style="background-color: #eeede9;">
        <div class="col-6">
            <h1>hey</h1>
        </div>
        <div class="col-6">
            <h1>hey</h1>
        </div>
        </div>
{% endblock %}