{% extends 'base.html' %}
{% load static %}
{% block content %}
<header>
<div class="hero-text-box">
  <div id="hea"><h1><strong>Welcome to
    IEEE <br> BITS Pilani, Student chapter
    </strong><br><br></h1>
  <a class="btn btn-full js--scroll-to-plans learn" id="tohide" href="#detail">Learn More</a>
</div> 
</header>           
<div class="container" style="padding-top:3em;padding-bottom: 3em;" id="detail">
  <div class="row" style="padding-bottom: 1.5em; color:white;">
    <div class="col" style="color:black;">
      <h2 class="text-center" ><b>WHAT'S BUZZING</b></h2>
      <!-- <p class="long-copy" align="center">
        Lorem ipsum dolor sit amet consectetur.
      </p> -->
    </div>
  </div>
  <div class="row" style="margin-left: 10%;margin-right: 10%;">
    <div class="col-md">
      <div class="card-body">
          <img src="{% static 'img/apogee.jpg' %}" class="mx-auto border border-dark" alt="" style="width: 100%;height: 11em;">
          <h5 class="text-center" style="padding-top: 15%;height: 3em;">Apogee Events</h5>
          <p class="text-center" style="padding-top: 10%;height: 12em">The Technicle Fest of the desert, made exotic by our events</p>
          <center><a href="#" class="btn btn-primary">More</a></center>
        </div>
    </div>
    <div class="col-md">
      <div class="card-body">
          <img src="{% static 'img/sig.png' %}" class=" mx-auto" alt="" style="width: 100%;height: 11em;">
          <h5 class="text-center" style="padding-top: 15%;height: 3em;">SIG's</h5>
          <p class="text-center" style="padding-top: 10%;;height: 12em">Forming Special Interest Groups is how we keep our members engaged in their fields of interest with fun and fervour.</p>
          <center><a href="#" class="btn btn-primary">More</a></center>
        </div>
    </div>
    <div class="col-md">
      <div class="card-body">
          <img src="{% static 'img/campus.jpg' %}" class=" mx-auto" alt="" style="width: 100%;height: 11em;">
          <h5 class="text-center" style="padding-top: 15%;height: 3em;">Campus Activities</h5>
          <p class="text-center" style="padding-top: 10%;;height: 12em">Though some of us might be nerds, wanting to keeping to ourselves but we also try keeping the whole campus engaged  with us.</p>
          <center><a href="#" class="btn btn-primary">More</a></center>
        </div>
    </div>
</div>
</div>
<div class="container blog">

  <!-- Three columns of text below the carousel -->
  
</div>
  
<div class="row">

<div class="container-fluid" style="padding-top:3em;padding-bottom: 3em;background: transparent linear-gradient(180deg, #2D47A9 0%, #297C82 100%) 0% 0% no-repeat padding-box;border: 1px solid #707070;opacity: 1;">
  <div class="row" style="padding-bottom: 1.5em; color:white;">
    <div class="col">
      <h2 class="text-center"><b>Community</b></h2>
      <p class="long-copy" align="center">
        The branch is a group of dedicated volunteers and the foundational level of global IEEE network which aims to spark in the members an unwavering flame of innovation and ingenuity not just as students but for always no matter what their professions and avenues.
      </p>
    </div>
  </div>
<div class="row" >
  <div class="contawfiner">
    <div class="containery">
      <div class="community-box two">
        <img class="card-img-top" src="{% static 'img/berlin.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Student Chapter</p>
          </div>
      </div>
      <div class="community-box three">
        <img class="card-img-top" src="{% static 'img/berlin.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Alumina connect</p>
          </div>
      </div>
      <div class="community-box four">
        <img class="card-img-top" src="{% static 'img/berlin.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Women engineering</p>
          </div>
      </div>
      
    </div>
  
  </div>
    
  </div>
  
</div>

<div class="container" style="padding-top: 4em;">
  <div class="row" style="padding-bottom: 1.5em;">
    <div class="col-1"></div>
    <div class="col-10">
      <h2 class="text-center">BLOGS</h2>
      <!-- <h4 align="center">Lorem ipsum dolor sit amet consectetur.</h4> -->
    </div>
    <div class="col-1"></div>
  </div>

  <div class="row">
    {% for p in posts %}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{p.img.url}}"</img>
        <div class="card-body">
          <p class="card-text"style="height: 7em;">{{p.title|title}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="{{p.get_absolute_url}}" class="btn btn-sm btn-outline-secondary">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<section class="time">
<div class="container-fluid" style="padding-top: 0;">
  <div class="row" style="padding-bottom: 1.5em;">
    <div class="col-1"></div>
    <div class="col-10">
      <h2 class="text-center">About</h2>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="container">
    
    <ul class="timeline">
        <li>
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Instituted on Campus in 2012.</h4>
            </div>
            <div class="timeline-body">
              <p>One spark kindles the other and so began our story in 2012 with the efforts of Prof. V.K. Chaubey, our Branch Councillor and student volunteers as the chapter got instituted under the IEEE Delhi Section.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-body">
              <p>From one Apogee event to two and from two to three, this is how the chapter members kept themselves engaged in multiple shared projects and developed.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Formation of SIG’s in 2018</h4>
            </div>
            <div class="timeline-body">
              <p> which helped the ever-increasing member base of the chapter to bifurcate into Programming and Electronics domains as per interest.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
          <div class="timeline-panel">
              <p>Publication of annual Journal - TechRevIEEEw also began from the year 2018.</p>
            </div>
        </li>
        
    </ul>
</div>
</div>  
</section>

<div class="container-fluid" style="padding-top: 4em;">
    <h3 class="text-center">Our Team</h3><br>
    <h4 class="text-center">Meet the ones who keep it going no matter how hard it goes.</h4>
    <div class="row" style="padding-top: 3em;"></div>
    <div class="col">
    <ul id="hexGrid">
      
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img' ><img style="width:60px;height:auto; "src="{% static 'img/IMG-20200308-WA0020 - VAIBHAV GANDOTRA.jpg' %}" alt="Card image cap"></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img' ><img src="{% static 'img/IMG_20190104_172554 - Rajebhosale Omkar Veersingh.jpg' %}" alt="Card image cap"></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img' ><img src="{% static 'img/IMG_20200215_151133 - ANIKET UPADHYAY.jpg' %}" 
              alt="Card image cap"></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img' ><img src="{% static 'img/IMG_20180826_121731__01__01 - SIGILIPELLI LAKSHMI TARUN.jpg' %}" 
              alt="Card image cap"></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img'><img src="{% static 'img/IMG_20190407_003900-1 - SHAH PRIYAM HITEN VANDANA.jpg' %}" alt="Card image cap"></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
         <div class='img' ><img src="{% static 'img/ayushi.jpg' %}" alt="Card image cap"></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img' ><img src="{% static 'img/IMG_20200309_114259 - DIVYESH NARAYANAN.jpg' %}" alt="Card image cap"></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img'><img src="{% static 'img/IMG-20190707-WA0015 - JASH SHAH.jpg' %}" alt="Card image cap"></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img' ><img src="{% static 'img/Akash.jpg' %}" alt="Card image cap"></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img'><img src="{% static 'img/harshit.jpg' %}" alt="Card image cap"></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img'><img src="{% static 'img/mayank.jpg' %}" alt="Card image cap"></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
     
        <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img'><img src="{% static 'img/19E64724-F4FC-4EB2-A152-84F509F1A660 - EKANSH GUPTA.jpeg' %}" alt="Card image cap"></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
          <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
                <div class='img' ><img src="{% static 'img/sid.jpg' %}" alt="Card image cap"></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
        
        <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img' ><img src="{% static 'img/ishaan.jpeg' %}" alt="Card image cap"></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
        <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img' ><img src="{% static 'img/IMG_20190905_214010 - ROSHAN RAKESH AGRAWAL.jpg' %}" alt="Card image cap"></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
                <div class='img'><img src="{% static 'img/PIC2 - CHANDRA SEKHAR REDDY E.jpg' %}" alt="Card image cap"></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img'><img src="{% static 'img/berlin.jpg' %}" alt="Card image cap"></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img' ><img src="{% static 'img/berlin.jpg' %}" alt="Card image cap"></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img'><img src="{% static 'img/berlin.jpg' %}" alt="Card image cap"></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img'><img src="{% static 'img/berlin.jpg' %}" alt="Card image cap"></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
               <div class='img'><img src="{% static 'IEEE.jpg' %}" alt="Card image cap"></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img'><img src="{% static 'img/berlin.jpg' %}" alt="Card image cap"></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img'><img src="{% static 'img/berlin.jpg' %}" alt="Card image cap"></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      </ul>
    </div>
  </div>
</div>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
