{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- PAGE -->
        <section class="section-features js--section-features" id="features">
            <div class="row">
                <h2>WHAT'S BUZZING</h2>
                <p class="long-copy" align="center">
                    Lorem ipsum dolor sit amet consectetur.
                </p>
            </div>
            
            <div class="row js--wp-1"> 
                <div class="col span-1-of-5 box">
                    
                </div>
                <div class="col span-1-of-5 box">
                    <i class="ion-ios-infinite-outline icon-big"></i>
                    <h3>APOGEE EVENTS</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                    </p>
                </div>
                <div class="col span-1-of-5 box">
                    <i class="ion-ios-stopwatch-outline icon-big"></i>
                    <h3>SIG'S</h3>
                    <p>
                    <br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                    </p>
                </div>
                <div class="col span-1-of-5 box">
                    <i class="ion-ios-nutrition-outline icon-big"></i>
                    <h3>CAMPUS ACTIVITIES</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                    </p>
                </div>
                <div class="col span-1-of-5 box">
                    
                </div>
            </div>
        </section>
        <section class="sctin-comunity">
        <div  id="com">
                <h2>Community</h2>
                <p class="long-copy" align="center">
                    The branch is a group of dedicated volunteers and the foundational level of global IEEE network which aims to spark in the members an unwavering flame of innovation and ingenuity not just as students but for always no matter what their professions and avenues.
                </p>
            </div></div>
<div class="contener">
  
            
    <div class="cardy" id="#1">
  <img>
  <h1>John Doe</h1>
  <p class="tile">CEO & Founder, Example</p>
  <p>Harvard University</p>
  <div>
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <p><button>Contact</button></p>


  </div>
  <div class="cardy" id="#2">
  <img>
  <h1>John Doe</h1>
  <p class="tile">CEO & Founder, Example</p>
  <p>Harvard University</p>
  <div>
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <p><button>Contact</button></p>


  </div>
   
    <div class="cardy" id="#3">
  <img src="/w3images/team2.jpg" alt="John" style="width:100%">
  <h1>John Doe</h1>
  <p class="tile">CEO & Founder, Example</p>
  <p>Harvard University</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <p><button>Contact</button></p>

  </div>
  
    <div class="cardy" id="#4">
  <img src="/w3images/team2.jpg" alt="John" style="width:100%">
  <h1>John Doe</h1>
  <p class="tile">CEO & Founder, Example</p>
  <p>Harvard University</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <p><button>Contact</button></p>

  </div>
  
    <div class="cardy" id="#5">
  <img src="/w3images/team2.jpg" alt="John" style="width:100%">
  <h1>John Doe</h1>
  <p class="tile">CEO & Founder, Example</p>
  <p>Harvard University</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <p><button>Contact</button></p>

  </div>
</div>
    </section>
        <section class="section-cities" id="cities">
            <div class="row">
                <h2>BLOGS</h2>
                <h4 align="center">Lorem ipsum dolor sit amet consectetur.</h4>
            </div>
            <div class="row js--wp-3">
                <div class="col span-1-of-3 box">
                    <img src="{% static 'img/lisbon-3.jpg' %}" alt="lisbon">
                    <h3>Big Title Goes Here</h3>
                    <div class="city-feature">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu pretium dolor.
                        
                    </div>
                </div>
                <div class="col span-1-of-3 box">
                    <img src="{% static 'img/san-francisco.jpg' %}" alt="San Francisco">
                    <h3>Big Title Goes Here</h3>
                    <div class="city-feature">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu pretium dolor.
                        
                    </div>
                </div>
                <div class="col span-1-of-3 box">
                    <img src="{% static 'img/london.jpg' %}" alt="London">
                    <h3>Big Title Goes Here</h3>
                    <div class="city-feature">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu pretium dolor.
                        
                    </div>
                </div>
            </div>
            <div class="row js--wp-3">
                <div class="col span-1-of-3 box">
                    <img src="{% static 'img/lisbon-3.jpg' %}" alt="lisbon">
                    <h3>Big Title Goes Here</h3>
                    <div class="city-feature">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu pretium dolor.
                        
                    </div>
                </div>
                <div class="col span-1-of-3 box">
                    <img src="{% static 'img/san-francisco.jpg' %}" alt="San Francisco">
                    <h3>Big Title Goes Here</h3>
                    <div class="city-feature">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu pretium dolor.
                        
                    </div>
                </div>
                
                <div class="col span-1-of-3 box">
                    <img src="{% static 'img/london.jpg' %}" alt="London">
                    <h3>Big Title Goes Here</h3>
                    <div class="city-feature">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu pretium dolor.
                        
                    </div>
                </div>
            </div>
        </section>

        <section class="section-community" id="community">
            <div class="row">
                <h2>Our Team</h2>
                <h4 align="center">Lorem ipsum dolor sit amet consectetur.</h4>
                    <div class="grid">
    <ul id="hexGrid">
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img' ></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
        
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
                <div class='img'></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img'></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img' ></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img'></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
         <div class='img' ></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img' ></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img'></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img'></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      
     <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img'></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
        <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img'></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
          <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
                <div class='img' ></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
        <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img' ></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
        <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img' ></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
        <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img' ></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
        
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
                <div class='img'></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img'></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img' ></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img'></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
         <div class='img' ></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img' ></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img'></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img'></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      
     <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img'></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
        <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img'></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
          <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
                <div class='img' ></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
        <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img' ></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
        <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <div class='img' ></div>
            <h1 id="demo1">This is a title</h1>
            <p id="demo2">Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
    </ul>
      </div>
        </div>
        </section>
        <div class="map-box">
            
            <!--
            <div class="form-box">
                <div class="row">
                    <h2>We're happy to hear from you</h2>
                </div>
                <div class="row">
                    <form method="post" action="#" class="contact-form">
                        <div class="row">
                            <div class="col span-1-of-3">
                                <label for="name">Name</label>
                            </div>
                            <div class="col span-2-of-3">
                                <input type="text" name="name" id="name" placeholder="Your name" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col span-1-of-3">
                                <label for="email">Email</label>
                            </div>
                            <div class="col span-2-of-3">
                                <input type="email" name="email" id="email" placeholder="Your email" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col span-1-of-3">
                                <label for="find-us">How did you find us?</label>
                            </div>
                            <div class="col span-2-of-3">
                                <select name="find-us" id="find-us">
                                    <option value="friends" selected>Friends</option>
                                    <option value="search">Search Engine</option>
                                    <option value="ad">Advertisement</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col span-1-of-3">
                                <label>Newsletter?</label>
                            </div>
                            <div class="col span-2-of-3">
                                <input type="checkbox" name="news" id="news" checked> Yes Please
                            </div>
                        </div>
                        <div class="row">
                            <div class="col span-1-of-3">
                                <label>Drop us a line</label>
                            </div>
                            <div class="col span-2-of-3">
                                <textarea name="message" placeholder="Your Message"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col span-1-of-3">
                                <label>&nbsp;</label>
                            </div>
                            <div class="col span-2-of-3">
                                <input type="submit" value="Send it!">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        --->

{% endblock %}